body{
  font-size : 16px;
}
.mainContainer {
  display: flex;
/*   justify-content: center; */
  flex-direction : column;
  margin-bottom : 1.25rem;
}

.dataContainer {
  display: flex;
  flex-direction : column;
  justify-content: center;
  margin-top : 2rem;
  margin-bottom : 1.25rem;

}
.header {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
}

.bio {
  direction : flex;
  flex-direction : column;
  text-align: center;  
  color: #E59560;
}

input{
  border : 1px solid;
  border-radius  : 0.6rem;
  height : 2.5rem;
  margin-top : 1.25rem;
  margin-bottom : 0.6rem;
  width : 32rem;
  
}
.waveButton {
  margin: 5px 20px 20px 20px;
  padding: 8px;
  border: 0;
  height : 3rem;
  border-radius: 0.6rem;
  background : #1D3124;
  color : white;
  align : center;
  width : 18rem;
}

img{
  border-radius :50%;
  height : 12rem;
  width : 16rem;
  align : center;
}

.messageList{
  display : flex;
  justify-center : space-evenly;
}
.message{
  margin : 0.6rem;
  background : #E59560;
  border-radius : 10px;
  font-size : 18px;
  color : #1D3124;
  align-content : center;
}
